# Database Configuration
DB_SERVER=localhost
DB_USER=root
DB_PASS=
DB_NAME=language_learning

# Default Admin User
ADMIN_NAME=admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Admin123$
ADMIN_ROLE=admin